<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="test.amazon.Listners.ListnerClass"></listener>
</listeners>
  <test name="Test" thread-count="2" parallel="methods">
    <classes>
          <class name="test.amazon.testFolder.LoginpageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
